apiVersion: v1
kind: Service
metadata:
  name: spine-api
  labels:
    app: market-spine
    component: api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: market-spine
    component: api
---
apiVersion: v1
kind: Service
metadata:
  name: spine-api-external
  labels:
    app: market-spine
    component: api
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: market-spine
    component: api
